{% extends "master_app/base.html" %}
{% block content %}
<style>

        body{
            background: url("/media/peppers.jpg");
            height: 2880;
            width: 3200;
            background-size: 1000px;
            background-position: center bottom;
        }
        </style>
    <h2>You have been logged out</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}">Log In Again</a>
            </small>
        </div>
{% endblock content %}