{% extends "master_app/base.html" %}
{% load crispy_forms_tags %} 
{% block content %} 
    <title>Login to RecipeMaster</title>
    <link rel="stylesheet" type="text/css" href="loginCSS.css">

    <div class="content-section">

        <form method = "POST">
            <!--This {%csrf_token%} is necessary for the form to work-->
            {%csrf_token%}
            <!-- <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In to RecipeMaster</legend> -->
                <!--this is for django to actually find the form and put it where you want-->
            {{ form|crispy }}
            <!-- </fieldset> -->

            <div class="navbar">

        <!-- <form> -->
                <class="header">
                    <a href='#' style="color:#302F2F" class="siteName">RecipeMaster</a>
                    <a href='#' style="color:#302F2F" class="link">Login</a>
                    <input type="text" class="searchBar" placeholder="Search">
                    <input type="button" value="Search">
                    <a href="#" style="color:#302F2F" class="about">About</a>
                </class="header">
        <!-- </form> -->

            </div>

            <div class="login">
                <form method=POST>
                    <h2>Sign Up:</h2>
                    Email: <input type="email" id="email" placeholder="email"> <br><br>
                    Username: <input type="text" id="username" placeholder="username"> <br><br>
                    Password: <input type="password" id="password" placeholder="password"> <br><br>
                    <input type="button" value="Create Account" class="loginButton">
                    <br><br>
                    <a href="#" style="color:#302F2F">Login</a>
                    <br><br>
                </form>
            </div>

        </form>
    </div>
{% endblock content %}