


{% block content %}
<form type="get" action=".">
<input type="text" name="q">
<button type="submit">Search</button>
</form>

{% for note in notes %}
<h1>{{ note.title }}</h1>
<p>
{{ note.body }}
</p>
{% endfor %}
{% endblock %}

<html>
<head>
<title>My Page</title>
</head>
<body>
<form name="myform" action="http://www.mydomain.com/myformhandler.cgi" method="POST">
<div align="right">
<select name="mydropdown">
<option value="descriptionTag">Vegan</option>
<option value="descriptionTag">Keto</option>
<option value="author">Author</option>
<option value="Rating">Highest Rated</option>
<option value="Rating">Lowest Rated</option>
<option value="Authenticity">Authenticity</option>
</select>
</div>
</form>
</body>
</html>

<div id="mid">

     <div class="featuredpics">
    <h1>Garbage Salad: </h1><img src="/media/salad.jpg" alt="Garbage Salad" class="featuredRecipes" />
    <h1>Black Bean Dip: </h1><img src="/media/beandip.jpg" alt="Black Bean Dip" class="featuredRecipes" />
    <!--Add images to github
    jav-solo.github.io/jav-solo/RecipeMaster/media/strawberrycake.jpg-->
    <h1>Black Bean Burger: </h1><img src="/media/blackbeanburger.jpg" alt="Black Bean Burger" class="featuredRecipes" />
    </div>
</div>
<br/>