<!DOCTYPE HTML>
<html>
<!----
<head>
    <title>ABOUT RecipeMaster</title>
<style>
  body, html 
  {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }

  .bgimg {
    background-position: center;
    background-size: cover;
    min-height: 75%;
  }

.menu {
  display: none;
}
</style>-

<div class="toplinks">
    <a href="home.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Home</p></button></a>
    <a href="about.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">About</p></button></a>
    <a href="discover.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Discover</p></button></a>
    <a href="recipes.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Recipes</p></button></a>
    <a href="search"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Search</p></button></a>
    <a href="social.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Social</p></button></a>
</div>-->

    a:link {
        color: white;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

                /* Change the link color to #111 (black) on hover */
    li a:hover {
        background-color: #111;
    }

    .active {
        background-color: #556C5B/*#4CAF50*/;
    }
</style>
<body>

  <div class="toplinks">
    <a href="{% url 'master-home' %}"><button class="toplinksbutton"><p>Home</p></button></a>
    <a href="{% url 'master-about' %}"><button class="toplinksbutton"><p>About</p></button></a>
    <a href="{% url 'master-discover' %}"><button class="toplinksbutton"><p>Discover</p></button></a>
    <a href="social.html"><button class="toplinksbutton"><p>Social</p></button></a>
  </div>

<!-- About Container -->
  <div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT RecipeMaster</span></h5>
      <p>RecipeMaster was founded by 6 Computer Science/Computer Engineering students at Louisiana State University. </p>
      <p>We strive to bring you the most authentic recipes possible. </p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"Hard times arouse an instinctive desire for authenticity".</i></p>
      <p>-Coco Chanel</p>
    </div>
    <img src="/media/head2.jpeg" class="w3-margin-top">
  </div>
</div>

</body>
</html>
