<!DOCTYPE>
<html>

<head>
<title>RecipeMaster</title>
<link href="main.css" rel="stylesheet" type="text/css">
<style>
    
</style>
</head>

<body>
    <script>
    </script>
    
<div class="toplinks">
    <a href="home.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Home</p></button></a>
    <a href="about.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">About</p></button></a>
    <!-- Hover over discover button, change color of button when on a specific page -->
    <a href="discover.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Discover</p></button></a>
    <a href="recipes.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Recipes</p></button></a>
    <a href="social.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Social</p></button></a>
</div>
    
<div id="toplogin">
    <p><a href="signInPage.html">Log in</a> | <a href="signUpPage.html">Sign up</a></p>
</div>
    
<p>Coming soon..</p>

</body>
</html>