{% load static %}
<!DOCTYPE>
<html>

<head>
<title>RecipeMaster</title>
<link href="main.css" rel="stylesheet" type="text/css">
<style>
    
</style>
</head>

<body>
    <script>
    </script>
    
<div class="toplinks">
    <a href="{% url 'master-home' %}"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Home</p></button></a>
    <a href="{% url 'master-about' %}"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">About</p></button></a>
    <!-- Hover over discover button, change color of button when on a specific page -->
    <a href="{% url 'master-discover' %}"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Discover</p></button></a>
    <a href="recipes.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Recipes</p></button></a>
    <a href="social.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Social</p></button></a>
</div>

<!DOCTYPE html>
<html lang="en">
<!head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="toplogin">
    <p><a href="signInPage.html">Log in</a> | <a href="signUpPage.html">Sign up</a></p>
</div>
    
<p>Coming soon..</p>

</body>
</html>