<!DOCTYPE>
<html>

<head>
<title>RecipeMaster</title>
<link href="main.css" rel="stylesheet" type ="text/css">
<style>
    
</style>
</head>

<body>
    <!-- I'm learing Javascript.. ignore -->
    <script>
        document.write("");
    </script>
    
<div id ="heading">
    <p>Log in | Sign up</p>
</div>
<!--<div id="login">
        <form>
            <p>Login Here</p>
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <br/>
            <a href="#">Lost your password?</a><br/>
            <a href="#">Don't have an account?</a>
        </form>
</div>
<div id="header">
</div>
-->
<div id="middle">
    <h1 style = "text-align: center">Featured Recipe</h1>
</div>
    <br/><br/>
<div id="slider">
    <!--<figure>
    <img src="featured_rolls.jpg" class="img-anim" width="850" height="1170" />
    </figure>    -->
</div>
     <li>These Fresh Spring Rolls.</li>
<br />
    
<div id="bottom">
<a href="index.html">Home</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="link2.html">Discover</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="link3.html">Recipes</a>
&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="link4.html">Social Page</a>
</div>


</body>
</html>