{% extends "master_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    
        body{
            background: url("/media/cutting board.jpg");
            background: url("/media/wood.jpg");
            margin-top: 5%;
            margin-bottom: 3.5%;
            margin-left: 25%;
        }

        .makeRecipe{
            background-color: white;
            padding: 10px 10px;
            margin-bottom: 3.5%;
        }

</style>

<body>

    <div class="content-section makeRecipe">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Recipe</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add New Recipe</button>
            </div>
        </form>
    </div>

</body>

{% endblock content %}