{% extends "master_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>

<head>

	<!-- <link rel="stylesheet" type="text/css" href="recipePagesStyle.css"> -->

	<style>

		#recipeName{
			text-align: center;
			padding-bottom: 1%;
		}

		#recipePicture{
			border-radius: 1%;
		}

		.summary{
			padding: 3%;
		}

		h2{
			font-size: 40px;
		}

		li{
			font-size: 20px;
		}

		.summary{
			font-size: 20px;
		}

		.howTo{
			margin-left: 3%;
		}

		body{
			margin-top: 7%;
			margin-left: 25%;
		}

	</style>

</head>

<body>

	<class="bodyNotNav">

	<div class="text-center recipeTitle">
		<h1 class="article-title"><u>{{ recipe.recipe_name }}</u></h1>
			<h5>{{recipe.review_set.count}} reviews ({{recipe.averagee_rate | floatformat}} average rating)</h5>
			<p></p>
			<div class="titlePicAndSum">
				<div class="text-center">
					<img id="recipePicture" src="{{ recipe.image.url }}" "rounded center" alt="..." width="30%" height="30%">
				</div>
			</div>
	</div>

	<p></p>
	<p></p>

	<div class="summary">
		<div class="text-center">
			{{ recipe.description }}
		</div>
	</div>

	<p></p>
	<p></p>
    
    <div class="howTo">
	<div class="container">
	  <div class="row">
	    <div class="col">
	    	<h2><u>Ingredients:</u></h2>
				{{recipe.ingredients_list}}
		</div>
	    <div class="col">
	    	<h2><u>Directions:</u></h2>
				{{recipe.instructions}}
	    </div>
	  </div>
	</div>
	</div>
	</class="bodyNotNav">

	<p></p>
	<p></p>

	<h3>Recent reviews</h3>

{% if recipereview_set.all %}
<div>
    {% for review in recipe.review_set.all %}
    <div>
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by {{ review.user }}</h6>
        <h5><a href="{% url 'master_app:review_detail' review.id %}">
        Read more
        </a></h5>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this wine yet</p>
{% endif %}

<h3>Add your review</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}






</body>

</html>
{% endblock content %}