{% extends "master_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    

        body{
            background: url("/media/yeah.jpg") no-repeat;
            height: 2880;
            width: 3200;
            background-size: 2000px;

        }
        </style>
        <br>
        <br>
        <br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Recipe</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add New Recipe</button>
            </div>
        </form>
    </div>
    <br>
        <br>
        <br>
{% endblock content %}