<!DOCTYPE html>
<html>

<head>
	<title>Salad</title>
	<link rel="stylesheet" type="text/css" href="recipePagesStyle.css">
</head>

<body>

	<div class="heading">

		<input type="button" class="button" value="Home">
		<input type="button" class="button" value="Login">
		<input type="button" class="button" value="Sign Up">
		<input type="text" class="searchBar" placeholder="Search">

	</div>

	<div class="title">

		<h1>Salad</h1>

		<!-- <img src=""> -->

	</div>

	<div class="ingredients">

		<h2>Ingredients:</h2>

		<ul>
			<li>Lettuce</li>
			<li>Chopped Tomatoes</li>
			<li>Ranch Dressing</li>
			<li>Croutons</li>
			<li>Parmesan Cheese</li>
		</ul>

	</div>

	<div class="directions">	

		<h2>Directions</h2>

		<ol>
			<li>Place the lettuce and tomatoes in a bowl</li>
			<li>Add the ranch dressing onto the lettuce and tomatoes</li>
			<li>Sprinkle the croutons on top</li>
			<li>Add as much parmesan cheese as you like</li>
			<li>Enjoy!</li>
		</ol>

	</div>

	<div class="bottom">

		<input type="button" class="button" value="About RecipeMaster">

	</div>

</body>

</html>