{% extends "master_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html>

<head>

	<!-- <link rel="stylesheet" type="text/css" href="recipePagesStyle.css"> -->

	<style>

		#recipeName{
			text-align: center;
			padding-bottom: 1%;
		}

		#recipePicture{
			border-radius: 1%;
		}

		.summary{
			padding: 3%;
		}

		h2{
			font-size: 40px;
		}

		li{
			font-size: 20px;
		}

		.summary{
			font-size: 20px;
		}

		.howTo{
			margin-left: 3%;
		}

		body{
			margin-top: 7%;
			margin-left: 25%;
		}

	</style>

</head>

<body>

	<class="bodyNotNav">

	<div class="text-center recipeTitle">
		<h1 class="article-title"><u>{{ recipe.recipe_name }}</u></h1>
			<h5>{{recipe.review_set.count}} reviews ({{recipe.averagee_rate | floatformat}} average rating)</h5>
			<p></p>
			<div class="titlePicAndSum">
				<div class="text-center">
					<img id="recipePicture" src="{{ recipe.image.url }}" "rounded center" alt="..." width="30%" height="30%">
				</div>
			</div>
	</div>

	<p></p>
	<p></p>

	<div class="summary">
		<div class="text-center">
			{{ recipe.description }}
		</div>
	</div>

	<p></p>
	<p></p>
    
    <div class="howTo">
	<div class="container">
	  <div class="row">
	    <div class="col">
	    	<h2><u>Ingredients:</u></h2>
				{{recipe.ingredients_list}}
		</div>
	    <div class="col">
	    	<h2><u>Directions:</u></h2>
				{{recipe.instructions}}
	    </div>
	  </div>
	</div>
	</div>
	</class="bodyNotNav">

	<p></p>
	<p></p>

	<h3>Recent reviews</h3>

	{% if recipe.review_set.all %}
	<div>
		{% for review in recipe.review_set.all %}
		<div>
			<h6>Overall Rated {{ review.rating }} of 5 by {{ review.user }}</h6>
			<h6>Authencity Rated {{ review.authenticityRating }} of 5 by {{ review.user }}</h6>
			<em>{{ review.comment }}</em>

		</div>
		{% endfor %}
	</div>
	{% else %}
	<p>No reviews yet.</p>
	{% endif %}
	</div>






</body>

</html>
{% endblock content %}