
{% extends "master_app/base.html" %}
{% load crispy_forms_tags %} 

{% load static %}
{% block content %}

<head>


<style>

    body{
        background: url("/media/wood.jpg");
        margin-top: 5%;
        margin-bottom: 3.5%;
        margin-left: 25%;
    }

    .search{
        background-color: white;
        padding: 10px 10px;
    }

</style>

</head>

<body>
    
    <div class="search">
        <h1>Have any specifications?</h1>
        <div class="float-left-area">
            <div class="inner-left">
            
                <form action="" method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" />
                </form>
            <br/>
            </div>
        </div>
    </div>
        
    <div class="float-right-area search">
        <div class="inner-right">
        
            {% for obj in filter.qs %}
            
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" >{{ obj.recipe_creator }}</a>
                  <small class="text-muted">{{ obj.country }}</small>
                  <small class="text-muted">{{ obj.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'recipe-detail' obj.id %}">{{ obj.recipe_name }}</a></h2>
                <p class="article-content">Prep Time: {{ obj.meal_PrepTime_Minutes }}  </p>
               

                <p class="article-content">Average Rating: {{ obj.average_rating }}  </p>
                <p class="article-content">Authenticity  Rating: {{ obj.authenticity_rating }} m </p>
                {% for recipe3 in records %}
                <p class="article-content">Average Rating: {{ avg.overall_rating}} m </p>
                <p class="article-content">Authenticity  Rating: {{ avg.authenticityRating }} m </p>
                {% endfor %}
              </div>
              <a href="{% url 'recipe-detail' obj.id %}"> <img class="rounded-circle account-img" src="{{ obj.image.url }}"></a></img>
            </article>
            {% endfor %}
        </div>
    </div>
        
        <div class="clear-floated"></div>

</body>
    
{% endblock %}

