<!DOCTYPE html>
<html>

<head>
	<title>Login to RecipeMaster</title>
	<link rel="stylesheet" type="text/css" href="signinpagestyle.css">
</head>

<body>

	<input type="button" class="buttonOrSubmit" value="Home">

	<form method=POST>

		<div class="login">

			<h1>Login:</h1>

			<div class="textbox">
				<p>Username:</p>
				<input name="username" id="username" type="text" placeholder="Enter Username" required>

				<p>Password:</p>
				<input name="password" id="password" type="password" placeholder="Enter Password" pattern=".{5,10}" required title="Password must be 5 to 10 characters long.">
			</div>

			<p><input type="submit" class="buttonOrSubmit" value="Sign In" ></p>

		</div>

	</form>

	<div class="link">
		<a href="#">Lost Your Password</a>
	</div>
	<div class="link">
		<a href="#">Create An Account</a>
	</div>

</body>

</html>