<!DOCTYPE>
<html>

<head>
<title>RecipeMaster</title>
<link href="main.css" rel="stylesheet" type="text/css">
<style>
    #headerImage {
    background-image: url("cake.jpg");
}
</style>
</head>

<body>
    <script>
    </script>
    
<div class="toplinks">
    <a href="home.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Home</p></button></a>
    <a href="about.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">About</p></button></a>
    <a href="discover.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Discover</p></button></a>
    <a href="recipes.html"><button class="toplinksbutton"><p style="font-size: 5pt; color: black">Recipes</p></button></a>
    <!--We need to decide on categories..
    <div class="dropdown-content">
    <a href="recipes.html">All recipes</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="recipes.html">Vegan</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="recipes.html">Vegetarian</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    </div>-->
</div>
    
<div id="toplogin">
    <p><a href="signInPage.html">Log in</a> | <a href="signUpPage.html">Sign up</a></p>
</div>
    
<header>
<div id="headerImage">
    <div class="headerText">
        <!--We need to find + download a better looking font.-->
        <h1 style="color:black; font-size:40pt;">Coming soon</h1>
       <!-- <a href="discover.html"><h2 style="color:white; font-size:50pt;">Discover</h2></a>-->
    </div>
</div>
</header>
    
<p>Coming soon...</p>

</body>
</html>